.about {
    padding-top: 5em;
    text-align: center;
}

.about-tittle {
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about-description {
    font-size: 12px;
    color: lightgray;
    line-height: 1.5em;
    margin: 0 3rem;
}

.photo-about {
    width: 20rem;
    animation: fluter 3s ease-in-out infinite;
}

@media screen and (min-width:1440px) {
    
    .about {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 30vh;
    }

    .about-container {
        width: 40%;
    }

    .about-tittle {
        font-size: 50px;
    }
    
    .about-description {
        font-size: 16px;
    }

    .photo-about {
        width: 30rem;
    }
}