.projects {
    padding-top: 7em;
}

.projects-tittle {
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.tittle-card {
    font-size: 16px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .5rem;
    color: #7B66AB;
}

.subtittle-card {
    font-size: 12px;
    color: lightgray;
    text-align: center;
    margin: .5rem 2.5rem;
}

.links-project {
    text-align: center;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-icon {
    width: 1.5rem;
    padding: 0 .5em;
    opacity: 0.7;
}

.desktop {
    display: none;
}

.link {
    cursor: pointer;
}

.project-card {
    width: 20rem;
    height: 10rem;
    border: 2px solid #7B66AB;
    border-radius: 5px;
    margin: 0 auto;
}

.proj {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.alurabooks {
    background-image: url(../img/project-AluraBooks.png);
}

.hzc {
    background-image: url(../img/projeto-HZC.png);
}

.opttech {
    background-image: url(../img/project-OptimusTech.png);
}

.aluraplus {
    background-image: url(../img/project-AluraPlus.png);
}

.robotron2000 {
    background-size: 120%;
    background-image: url(../img/project-robotron2000.png);
}

.comingsoon {
    background-image: url(../img/Webinar-pana.svg);
    opacity: .6;
}

#second-container-projects {
    margin-top: 2rem;
}

@media screen and (min-width:1024px) {

    .projects {
        padding-top: 7rem;
        padding-bottom: 10rem;
        height: 45vh;
    }

    .mobile, .contentproject-container {
        display: none;
    }

    .desktop {
        display: block;
    }

    .projects-tittle {
        font-size: 45px;
    }

    .projects-flexcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .container-project {
        margin: 0 .5rem;
        margin-bottom: 2rem;
    }   

    #second-container-projects {
        margin-top: 0;
    }

    .project-card {
        width: 15rem;
        height: 8rem;
    }

}

@media screen and (min-width:1440px) {   

    .projects-tittle {
        font-size: 50px;
    }

    .container-project {
        margin-bottom: 0;
    }   

    .project-card {
        width: 20rem;
        height: 10rem;
    }

    #second-container-projects {
        margin-top: 2rem;
    }
    
}

@media screen and (min-width:1920px) {   

    #second-container-projects {
        margin-top: 0;
        margin: 1rem 1rem;
    }

    .container-project {
        margin: 1rem 1rem;
    }   

}