.tecnology {
    padding-top: 5em;
}

.tecnology-tittle {
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-bottom: .3rem;
    text-align: center;
}

.subtittle {
    display: flex;
    justify-content: center;
}

.tecnology-describe {
    font-size: 12px;
    color: lightgray;
    margin-bottom: 2rem;
    width: 70%;
    text-align: center;
}

.language {
    display: flex;
    justify-content: center;
}

.container {
    margin-bottom: 1em;
    text-align: center;
    width: 20%;
}

.photo-language {
    width: 1.5rem;
}

.tittle-language {
    font-size: 10px;
}

.progresso {
    margin-top: .2rem;
    border: solid 1px gray;
    width: 50%;
    height: .6em;
    border-radius: 15px;
    padding: 3px;
    text-align: center;
}

.quant {
    background-color: blueviolet;
    height: .6em;
    border-radius: 15px;
}

.qhtml {
    width: 98%;
}

.qcss {
    width: 95%;
}

.qjs {
    width: 70%;
}

.qreact {
    width: 10%;
}

.qnode {
    width: 3%;
}

.qcsharp {
    width: 40%;
}

.qdotnet {
    width: 20%;
}

.qvuejs {
    width: 3%;
}

#csharp {
    width: 2.3rem;
}

#react {
    width: 1.8rem;
}

#vuejs {
    width: 2rem;
}

@media screen and (min-width:1440px) {
      
    .tecnology {
        padding-top: 10rem;
        height: 30vh;
    }

    .tecnology-tittle {
        font-size: 50px;
    }
    
    .subtittle {
        font-size: 15px;
    }

    .language-flexcontainer {
        display: flex;
        margin: 0 5rem;
    }

    .language {
        justify-content: center;
        width: 100%;
    }

    .container {
        width: 10rem;
    }

    .photo-language {
        width: 2.5rem;
    }

    #csharp {
        width: 3.5rem;
    }
    
    #react {
        width: 2.8rem;
    }

    #vuejs {
        width: 3rem;
    }    

    .tittle-language {
        font-size: 15px;
    }

    .progresso {
        margin-top: 1.2rem;
        border: solid 1px gray;
        width: 50%;
        height: 1em;
        border-radius: 15px;
        padding: 3px;
        text-align: center;
    }
    
    .quant {
        background-color: blueviolet;
        height: 1em;
        border-radius: 15px;
    }
}